<h2>Forbidden</h2>

<p><img src="/assets/images/verboten.jpg" id="verboten" alt="As you can see, this is a PlayStation black disc. Cut number one contains computer data, so please, don't play it. But you probably won't listen to me anyway, will you?"></p>

<p>You don't belong in this world!</p>