<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= @page[:title] %></title>
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css">
</head>
<%= open_tag :body, filter_nil!({:class => @page[:class]}) %>
  
  <div id="wrapper">  
    <div id="header">
      <h1><a href="/"><span class="wow">WoW</span>Crafter</a></h1>
      
      <p>Enter an item name or <abbr title="You can find out an item's ID using wowhead.com">ID</abbr> to find out how much it costs to craft.</p>
      
      <form action="/" method="post">
        <!--
        <select name="faction">
          <option>Faction Average</option>
          <optgroup label="Select your faction">
            <option value="alliance">Alliance</option>
            <option value="horde">Horde</option>
          </optgroup>
        </select>
        -->
        <%# realmlist %>
        
        <input type="text" name="query" id="query"> <button class="large search" name="submit">Search</button>
      </form>
    </div>

    <%= open_tag :div, filter_nil!({:id => "content", :class => @page[:class] == "colophon" ? "loading" : nil}) %>
  <%= yield %>
    </div>
    <div id="footer">
      <p><span class="wow">wow</span>crafter was made by <a href="http://www.kapowaz.net/">Ben Darlow</a> and uses data from <a href="http://www.wowhead.com/">Wowhead</a> and <a href="http://www.wowecon.com/">wowecon</a>. Remember to tip your crafter.</p>
    </div>
  </div>
  
  <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.js"></script>
  <script type="text/javascript" src="/javascripts/reagents.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/recipes.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/wowcrafter.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/widgets.jquery.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>