<div id="categories">
  <hr class="categories">
  <div class="breadcrumbs">
    <%= breadcrumbs :item => locals[:item], :category => locals[:category], :inventory_slot => locals[:inventory_slot] %>
  </div>
</div>