input[type=submit],
button
{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border:none;
  cursor:pointer;
  background-color:rgb(142,19,0);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(159,55,39)),
    color-stop(1, rgb(106,14,0))
  );
  margin:0;
  height:20px;
  color:rgb(255,209,0);
  text-shadow:0 -1px 0 black;
  text-transform:uppercase;
  font-weight:bold;
  font-size:11px;
  line-height:16px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.5), inset 1px 0 1px rgba(255,255,255,0.2), inset -1px 0 1px rgba(255,255,255,0.2);
  -webkit-transition-property:box-shadow;
  -webkit-transition-duration:0.1s;
}
body.fzq input[type=submit],
body.fzq button
{
  font-family:Friz Quadrata Std;
  font-weight:normal;
  font-size:14px;
  line-height:20px;
}

input[type=submit]:hover,
button:hover 
{ 
  color:white;
}
input[type=submit]:active,
button:active
{
  -webkit-box-shadow:inset 0 -1px 0 rgba(255,255,255,0.3), inset 0 1px 0 rgba(0,0,0,0.5);
}

input[type=submit]:focus,
button:focus
{
  outline:none;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.5), 0 0 2px rgb(255,232,127), inset 0 0 2px rgb(255,232,127);
}

input[type=submit].disabled,
button.disabled
{
  color:rgba(0,0,0,0.4);
  text-shadow:0 1px 0 rgba(255,255,255,0.2);
  background-color:rgb(100,100,100);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(128,128,128)),
    color-stop(1, rgb(64,64,64))
  );
}

input[type=submit] span,
button span
{
  display:block;
  float:left;
}

input[type=submit] b,
button b
{
  display:block;
  float:right;
  text-indent:-999px;
  overflow:hidden;
  background-image:url(/images/button_icons.png);
  background-repeat:no-repeat;
}

input[type=submit].search b,
button.search b
{
  width:10px;
  margin-left:4px;
  background-position:0 -2px;
}

input[type=submit].search:hover b,
button.search:hover b
{
  background-position:-10px -2px;
}

input[type=submit].search.disabled b,
button.search.disabled b
{
  background-position:-20px -2px;
}

input[type=submit].large,
button.large
{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  height:30px;
  font-size:14px;
  line-height:26px;
}

body.fzq input[type=submit].large,
body.fzq button.large
{
  font-size:18px;
  line-height:30px;
}

input[type=submit].large:focus,
button.large:focus
{
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.5), 0 0 5px rgb(255,232,127), inset 0 0 5px rgb(255,232,127);
}
