button,
a.button
{
  font-family:Friz Quadrata Std, Georgia, serif;
  font-weight:normal;
  font-size:16px;
  text-transform:uppercase;
  text-decoration:none;
  color:rgba(255,209,0,0.8);
  text-shadow:rgba(0,0,0,0.8) 0px -2px 0px, rgba(255,209,0,0.8) 0 0 0;
  background:none;
  border:0;
  cursor:pointer;
  padding:0;
  margin:0;
  -webkit-font-smoothing: antialiased
}
button.disabled,
a.button.disabled
{
  color:black;
  text-shadow:rgba(255,255,255,0.5) 0px 1px 0px;
  cursor:default;
}

button i,
button span,
a.button i,
a.button span { background-image:url(../images/buttons.png); }

button::-moz-focus-inner { border: 0; } /* removes the dotted outline and fixes some invisible padding issues in Firefox */
button:focus,
a.button:focus,
button:active,
a.button:active { outline:none; }

button span,
a.button span
{
  display:block;
  float:left;
  height:32px;
  padding-left:20px;
  line-height:34px;
  text-align:center;
  min-width:70px;
}

button i,
a.button i
{
  height:32px;
  float:left;
  width:20px;
  line-height:34px;
}

/* disabled state */
button.disabled span,
button.disabled:hover span,
button.disabled:focus span,
button.disabled:active span,
a.button.disabled span,
a.button.disabled:hover span,
a.button.disabled:focus span,
a.button.disabled:active span { background-position:left 0; }
button.disabled i,
button.disabled:hover i,
button.disabled:focus i,
button.disabled:active i,
a.button.disabled i,
a.button.disabled:hover i,
a.button.disabled:focus i,
a.button.disabled:active i { background-position:right 0; }

/* normal button: default state */
button span,
a.button span { background-position:left -32px; }
button i,
a.button i { background-position:right -32px; }

/* normal button: hover state */
button:hover span,
a.button:hover span { background-position:left -64px; }
button:hover i,
a.button:hover i { background-position:right -64px; }

/* normal button: focused state */
button:focus span,
a.button:focus span { background-position:left -96px; }
button:focus i,
a.button:focus i { background-position:right -96px; }

/* normal button: active state */
button:active span,
a.button:active span { background-position:left -128px; line-height:36px; }
button:active i,
a.button:active i { background-position:right -128px; }

button.disabled:active span,
a.button.disabled:active span { line-height:34px; }

button.large span,
a.button.large span
{
  display:block;
  float:left;
  height:31px;
  padding-left:20px;
  line-height:35px;
}
button.large i,
a.button.large i
{
  height:31px;
  float:left;
  width:20px;
  line-height:30px;
}

/* button icons */

body button span b,
body a.button span b
{
  display:block;
  float:left;
  width:10px;
  height:21px;
  text-indent:-999px;
  overflow:hidden;
  background-repeat:no-repeat;
  background-image:url(../images/button_icons.png);
  margin-top:5px;
}
body button:active span b,
body a.button:active span b { margin-top:6px; }
body button.search span b,
body a.button.search span b { background-position:0 0; float:right; margin-left:5px; }
body button.disabled.search span b,
body a.button.disabled.search span b { background-position:-10px 0; }
body button.disabled:active span b,
body a.button.disabled:active span b { margin-top:5px; }