@import url('buttons.css');

body { font-family:Lucida Grande, sans-serif; font-size:12px; background-color:rgb(64,64,64); color:white; margin:0; padding:0; }
a { text-decoration:none; font-weight:bold; }
a:hover { text-decoration:underline; }

a.epic { color:rgb(163,53,238); }
a.rare { color:rgb(0,112,221); }
a.uncommon { color:rgb(30,255,0); }
a.common { color:white; }
a.poor { color:rgb(192,192,192);}

::-moz-selection {
	background:rgba(0,7,33,0.5);
	color:white;
}

::selection {
	background:rgba(0,7,33,0.5);
	color:white;
}

div#wrapper 
{ 
  width:920px;
  padding:10px 10px 0 10px;
  margin:0 auto; 
  border-left:1px solid rgba(255,255,255,0.1);
  border-right:1px solid rgba(255,255,255,0.1);
  background-color:rgba(0,0,0,0.05);
}
div#header
{
  margin-bottom:20px;
}
div#header h1
{
  text-transform:uppercase;
  font-family:Helvetica, sans-serif;
  font-size:36px;
  letter-spacing:-0.08em;
  margin:0 0 10px 0;
  text-shadow:black 0px -2px 0px;
}
div#header h1 span.wow { color:rgb(255,209,0); }
div#header h1 a { color:rgb(220,220,220); text-decoration:none; }

div#header p { text-shadow:black 0px 1px 0px; }
div#header p abbr { border-bottom:1px solid rgba(255,255,255,0.3); color:rgba(255,255,255,0.8); cursor:help; }

div#header input[type=text] 
{
  font-size:18px;
  line-height:20px;
  height:23px;
  width:765px;
  padding:2px;
  border:2px solid rgba(0,0,0,0.3);
  background-color:rgba(255,255,255,0.5);
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -webkit-transition-duration:0.4s;
  -moz-transition-duration:0.4s;
  -webkit-transition-property:background-color border-color;
  -moz-transition-property:background-color border-color;
}
div#header input[type=text]:hover 
{ 
  border-color:rgba(0,0,0,0.5);
  background-color:rgba(255,255,255,0.8);
  -webkit-transition-duration:0.2s;
  -moz-transition-duration:0.2s;
}
div#header input[type=text]:focus 
{ 
  background-color:white; 
  outline:none; 
  -webkit-transition-duration:0.2s;
  -moz-transition-duration:0.2s;
}

div#header button { float:right; }
div#header button span { width:100px; }

div#footer 
{ 
  border-top:1px solid rgba(255,255,255,0.1); 
  color:rgb(200,200,200); 
  text-shadow:black 0px 1px 0px;
}
div#footer span.wow { color:rgb(255,209,0); }

div#footer a
{
  font-weight:normal;
  color:rgb(220,220,220);
  text-decoration:none;
  border-bottom:1px solid rgb(128,128,128);
}
div#footer a:hover
{
  color:rgb(240,240,240);
  border-bottom:1px solid rgb(200,200,200);
}

dl.recipe
{ 
	border:1px solid rgb(99,99,99); 
	border-top-color:rgb(197,197,197);
	border-left-color:rgb(197,197,197);
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	padding:5px;
	text-shadow:rgba(0,0,0,0.8) 0px 1px 1px;
	-webkit-box-shadow:rgba(0,0,0,0.8) 0px 0px 2px;
	-moz-box-shadow:rgba(0,0,0,0.8) 0px 0px 2px;
	background-color:rgba(0,7,33,0.5);
	width:320px;
}
dl.recipe dt { font-weight:bold; margin-bottom:0.5em; }
dl.recipe dt:last-child { margin-bottom:0; }
dl.recipe dt var.quantity 
{ 
	display:block;
	float:left;
	margin-right:5px;
	text-align:right;
	font-style:normal;
	width:15px;
	color:rgb(192,192,192);
}
dl.recipe dt strong { float:right; color:rgba(255,255,255,1); text-transform:uppercase; }
dl.recipe dd strong { float:right; color:rgba(255,255,255,0.75); text-transform:uppercase; font-size:11px; }

dl.recipe dt strong var,
dl.recipe dd strong var
{ 
	font-style:normal; 
	background-repeat:no-repeat;
	background-position:center right;
	padding-right:15px;
	margin-right:3px;
}
dl.recipe dt strong var.gold,
dl.recipe dd strong var.gold { background-image:url(../images/money_gold.gif); }
dl.recipe dt strong var.silver,
dl.recipe dd strong var.silver { background-image:url(../images/money_silver.gif); }
dl.recipe dt strong var.copper,
dl.recipe dd strong var.copper { background-image:url(../images/money_copper.gif); }

dl.recipe dd { margin-left:0; height:1.75em ;}
dl.recipe dd var.quantity { font-style:normal; width:15px; float:left; display:block; text-align:right; margin-right:5px; }
dl.recipe dd a.price 
{ 
	text-transform:uppercase; 
	color:rgb(192,192,192); 
	float:right; 
	display:block;
	font-size:10px; 
	line-height:12px;
}
dl.recipe dd input.price
{
	border:1px solid rgba(255,255,255,0.1);
	-moz-border-radius:2px; 
	-webkit-border-radius:2px;
	background:none;
	color:white;
	float:right;
	width:40px;
	text-align:right;
}
dl.recipe dd input.price:hover
{
	border:1px solid rgba(255,255,255,0.5);
}
dl.recipe dd input.price:focus
{
	border-color:white;
	background-color:white;
	color:black;
	outline:none;
}