<h2>Register</h2>

<% tag :form, :action => "/register", :method => "post", :id => "register_user" do %>
  <%= tag :input, :type => :hidden, :name => :referrer, :value => @referrer %>
  <%= fieldlist :registration, "Register", @fields %>
<% end %>